// table statistics
table {
  border-collapse: collapse;
  border: 0;
  font-family: $font-family-base;
  font-size: $font-component;
  letter-spacing: 1px;
  color: $font-primary-color;
}

thead,
tfoot {
  width: 100%;
  background-color: $component-color;
}
thead th:nth-child(n+2) {
  color: $font-secondary-color;
}

th,
td {
  border: 0;
  padding: 8px 10px;
}

th {
  text-align: left;
}
td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}