.view {
  @include container;
  @include clear-link;
  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }
  &__statistic {
    align-items: center;
    border: 1px solid $thir-color;
    border-radius: 15px;
    div {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em 2em;
      margin-bottom: 0.5em;
      strong {
        font-size: $font-web;
        color: $font-primary-color;
      }
      small {
        color: $font-secondary-color;
      }
    }
  }
  &__bottom-box {
    padding: 0.5em;
    text-align: center;
    background-color: $component-color;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    a {
      strong {
        font-size: $font-search;
        color: $font-primary-color;
        text-align: center;
      }
    }
  }

  &__videos {
    div {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em 2em;
      margin-bottom: 0.5em;
      strong {
        font-size: $font-web;
        color: $font-primary-color;
      }
      small {
        color: $font-secondary-color;
      }
    }
  }

  &__set-videos {
    margin: auto 0;
    color: $font-primary-color;
    font-size: $font-search;
  }
  &__group-first-videos {
    display: flex;
    video {
      border-radius: 0.4rem;
    }
  }
}