.link-head {
  display: flex;
  flex-wrap: nowrap;
  @include clear-link;
  @include font-nav;
  gap: 0.5em;
  &__logo {
    background-color: white;
  }

  &__bar {
    width: 100%;
    margin: 0 auto;
    ul {
      display: flex;
      align-items: center;
      gap: 2em;
      a {
        flex-wrap: nowrap;
        color: $secondary-color;
      }
    }
  }
}

.tage-home {
  @include container;
  position: relative; // container for positioning
  &__bar {
    display: flex;
    @include clear-link;
    @include font-nav;
    gap: 0.5em;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    font-size: 16px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  &__button.rotate i {
    transform: rotate(180deg);
  }
  &__menu {
    position: absolute; 
    top: 100%;   // appear right below button
    left: 0;
    right: 0;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    background: white;
    transition: max-height 0.4s ease, opacity 0.4s ease;

    ul {
      display: flex;
      justify-content: center;
      padding: 1em;
      margin: 0;
      list-style: none;

      li a {
        padding: 1em;
        color: black;
        text-decoration: none;
      }

      li a:hover {
        color: red;
      }
    }
  }

  &__menu.nav-open {
    max-height: 500px; // big enough for content
    opacity: 1;
  }
  i {
    transition: transform 0.3s ease;
  }
  &__link {
    width: 100%;
    margin: 0 auto;
    ul {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 3em;
      a {
        flex-wrap: nowrap;
        color: $primary-color;
      }
    }
  }
  .hidden-item {
    display: none;
  }
}




